.container {
  .sign-up-title {
    text-align: center;
    margin-top: 150px;
    color: #4f7d75;
    margin: 50px auto 20px auto;
    font-weight: 200;
  }

  #user_address {
    width: 100%;
  }

  #user_avatar {
    border: solid 1px #4f7d75;
    border-radius: 15px;
    font-size: 13px;
    margin-bottom: 20px;
  }
}
