// Specific CSS for your home-page
.landing {
  height: 844px;
  width: 390px;
  border-top: 0;
  // vertical-align: bottom;
}

.pb-5{
  padding-bottom: 9rem !important;
}

.container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;

  .logo{
    font-family: $headers-font;
    font-weight: 200;
    font-size: 45px;
    text-align: center;
    color: white;
    text-align: center;
    margin-top: -150px;
    width: 100%;
  }
  .img-logo{
    margin-bottom: 130px;
    width: 250px;
    padding-left: 110px;
  }
  .slogan{
    color:white;
    text-align: center;
    font-size: 17px;
    margin: 10px 0;
    font-weight: 200;
  }
  .btn-green{
    background-color: #4F7D75;
    font-family: "Poppins";
    border-radius: 15px;
    color: rgb(51, 51, 51);
    font-size: 15px;
    width: 100%;
    font-weight: 200;
  }
  .btn-green:hover{
    background-color: #253d39;
  }
}



// body.homepage #navigation-top {
//   display: none !important;
//  }
