// Specific CSS for your home-page

.landing {
  background: #ffffff;
  width: 390px;
  border-top: 0;
}

.container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: scroll;

  .btn-green {
    background-color: #4f7d75;
    font-family: "Poppins";
    border-radius: 10px;
    color: white;
    font-size: 15px;
    width: 50%;
    font-weight: 200;
    position: absolute;
    z-index: 1;
    top: -30px;
    margin: 0 auto;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    position: relative;
  }

  .btn-green:hover {
    background-color: #253d39;
  }

  .logo-text {
    background-color: #d6e5e3;
    position: relative;
    border-radius: 0 0 40% 40%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .img-logo {
    width: 150px;
    align-self: center;
  }

  .img-gif {
    width: 351px;
    margin: 0 auto;
    position: relative;
    left: 18px;
  }

  .slogan {
    color: #282828;
    text-align: center;
    font-size: 17px;
    margin: 24px 0;
    font-weight: 200;
    position: relative;
    top: -17px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .landing {
    width: 768px;
  }

  .img-logo {
    width: 100px;
  }

  .img-gif {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .slogan {
    font-size: 20px;
  }

  .btn-green {
    width: 40%;
    font-size: 13px;
  }
}

@media only screen and (min-width: 1025px) {
  .landing {
    width: 100vw;
  }

  .img-logo {
    width: 120px;
  }

  .img-gif {
    width: 351px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .slogan {
    font-size: 22px;
  }

  .btn-green {
    width: 35%;
    font-size: 15px;
  }
}
