<div class="navbar">
  <a href="#search"><i class="fa-solid fa-magnifying-glass"></i>
  <a href="#home"><i class="fa-light fa-house-chimney"></i>
  <a href="#profile"><i class="fa-regular fa-user"></i>
</div>
