  <div class="navbar">
      <%= link_to "/search" do %>
        <i class="fa-2x fa-solid fa-magnifying-glass"></i>
      <% end %>
      <%= link_to "/" do %>
        <i class="fa-2x fa-solid fa-house"></i>
      <% end %>
      <%= link_to "/users/edit" do %>
        <i class="fa-2x fa-regular fa-user"></i>
      <% end %>
    </div>
