  <div id='hidding' class="navbar">
      <%= link_to "/search" do %>
        <i class="fa-1x fa-regular fa-map"></i>
      <% end %>
      <%= link_to "/books" do %>
        <i class="fa-1x fa-solid fa-house"></i>
      <% end %>
      <%= link_to "/users/edit" do %>
        <i class="fa-1x fa-regular fa-user"></i>
      <% end %>
    </div>
