<div id='hidding' class="navbar hide-navigation-item">
      <%= link_to "/books/new" do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
      <%= link_to "/books" do %>
        <i class="fa-solid fa-book"></i>
      <% end %>
      <%= link_to "/mydashboard" do %>
        <i class="fa-solid fa-user"></i>
      <% end %>
</div>
