  <div id='hidding' class="navbar hide-navigation-item">
      <%= link_to "/books/new" do %>
        <i class="fa-1x fa-solid fa-plus"></i>
      <% end %>
      <%= link_to "/books" do %>
        <i class="fa-1x fa-solid fa-house"></i>
      <% end %>
      <%= link_to "/mydashboard" do %>
        <i class="fa-1x fa-regular fa-user"></i>
      <% end %>
    </div>
