<div class="navbar">
  <a href="#search"><i class="fa-solid fa-magnifying-glass"></i></a>
  <a href="#home"><i class="fa-light fa-house-chimney"></i></a>
  <a href="#profile"><i class="fa-regular fa-user"></i></a>
</div>
