<div class="landing">
  <div class="container d-flex flex-column justify-content-center align-items">
    <%= image_tag "rereadr.png", class: "img-logo" %>
    <h1 class="logo">re:readr</h1>
    <h4 class="slogan">Browse nearby books and swipe up <br> the books you like</h4>
    <br>
    <%= link_to "Turn the page", books_path, class: "btn btn-green text-white fs-5 p-3" %>
  </div>
</div>
