<br>
<div class="container">
  <div class=title>My dashboard</div>
  <br>
  <ul>
    <% current_user.requests_as_owner.each do |request| %>
      <li>
        <p> <%= request.user.first_name %> requested <i><%= request.book.name[0,30] %></i></p>
        <% if @swaps %>
          <p>Book selected: </p>
        <% else %>
          <%= link_to "✓ Pick a book to swap", request_user_path(request, request.user), class: 'button' %>
        <% end %>
        <%# <%= link_to "X", mydashboard_path, class: 'button' %>
        <hr>
      </li>
    <% end %>
  </ul>
  </div>
  </div>
</div>
