<%# <%# when form is working render on new and edit.html %>
<div class="container">
  <div class="row">
    <h1>Add a book</h1>
      <div>
        <%= simple_form_for @book do |f| %>
          <%= f.input :barcode, as: :string, class: "form-control" %>
          <%= f.submit "Add", class: "btn btn-primary" %>
        <% end %>
      </div>
  </div>
</div>
