
<div class="new-product-form">
  <div class = "container devise-card" id="productForm">
    <div class = 'container-relative'>
      <div class="text-box">
        <h2>Add new book</h2>
      </div>
    </div>

<div id="inputFields">
        <%= simple_form_for @book do |f| %>
          <%= f.input :barcode, as: :string, class: "form-control" %>
          <br>
          <div class="form-actions btn-container">
          <%= f.submit "Add", class: "btn btn-primary" %>
          </div>
        <% end %>
</div>
