<div class="bg text-center">
  <div class="barcode">
    <h2>Add a new book</h2>
    <p class="secondLine">Enter the ISBN code of the book to display the information on the platform.</p>
    <%# <p> <input class="InputStyle" placeholder="ISBN: 10 or 13 characters long." style="font-family:Poppins" type="text"> </p> %>
    <%#= link_to "Submit!", books_path, method: "Post", class: "btn btn-flat" %>
    <%= simple_form_for @book do |f| %>
      <%= f.input :barcode, as: :string, class: "InputStyle", placeholder: "ISBN: 10 or 13 characters long." %>
      <%= f.submit "Add", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
