<div class="bg text-center">
  <div class="barcode">
    <h2>Add a new book</h2>
    <p class="secondLine">Enter the ISBN code of the book to display the information on the platform.<br>The barcode should be 10 or 13 characters long.</p>
    <p> <input class="InputStyle" placeholder="ISBN" style="font-family:Poppins" type="text"> </p>
  </div>
</div>
