.add-page-bg{
  background-color: #d9eae8;
}

.add-content{
  top: 110px;
  position: absolute;
}

.bg {
  width: 100%;
  height: auto;
  min-height:100vh;
  background-color: #d9eae8;
  background-size: 100% 100%;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif-book{
  width: 200px;
  display: inline-block;
  top: 50px;
}

.centered {
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}

.secondLine {
  display: inline-block;
  font-weight: 350;
  font-size: 15px;
  margin-bottom: 5%;
  color: #2c2c2c;
}

.firstLine{
  font-size: 30px;
  color: #2c2c2c;
  font-weight: 200;
}

#book_barcode{
  border-radius: 25px;
  border: solid 2px #4F7D75;
  // background: transparent;
  width: 300px;
  height: 40px;
  padding: 10px 20px;
  // position: absolute;
  // bottom: 340px;
  // left: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.btn-add-flat{
  background-color: #4F7D75;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 150px;
  height: 50px;
  color: white;
}

.btn-add-flat:hover{
  background-color: #29433e;
}

.wrapper {
  display: inline-block;
}
