.bg {
  width: 100%;
  height: auto;
  min-height:100vh;
  background-color: #4F7D75;
  background-size: 100% 100%;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .content {
//   margin-top: 20%;
// }

.centered {
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}

// .inputstyle{
//   border-radius: 25px;
//   border: solid 1px white;
//   background: transparent;
//   width: 300px;
//   padding: 10px 20px;
//   position: absolute;
// }

.secondLine {
  display: inline-block;
  font-weight: 350;
  font-size:15px;
  margin-bottom: 5%;
  color: white;
}

.firstLine{
  font-size: 30px;
  color: white;
  font-weight: 200;
}

#book_barcode{
  border-radius: 25px;
  border: solid 1px white;
  // background: transparent;
  width: 300px;
  height: 40px;
  padding: 10px 20px;
  // position: absolute;
  // bottom: 340px;
  // left: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.btn-add-flat{
  background-color: #D6E5E3;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 150px;
  height: 50px;
}

.btn-add-flat:hover{
  background-color: #84f6e4;
}

.wrapper {
  display: inline-block;
}
