$cursor: pointer;

.container{
  h1:first-child {
    margin-top: 20px;
  }
}

.book-info{
  img:first-child {
    width: 150px;
  }

  img:last-child {
    width: 60px;
  }
}

.btn-primary{
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.card-book-user{
  width: 400px;
}
