$cursor: pointer;

.show-page{
  background-color: #d9eae8;
}

.back-link{
  color: #252525;
  margin-top: 30px;
}

.container{
  .book-name{
    color: #252525;
    text-align: center;
    font-weight: 200;
    margin: 12px auto;
    font-size: 18px;
  }


.book-info{
  img:first-child {
    width: 150px;
  }

  img:last-child {
    width: 60px;
  }
}

  .btn-request{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

    .btn-flat{
      display: flex;
      justify-content: center;
    }
  }

  .book-info{
    border-radius: 15px;
    margin: 20px;


    .book-cover-img{
      height: 300px;
      // width: 100%;
      display: flex;
      object-fit: fill;
      justify-content: center;
      margin: 20px auto 20px auto;
      // padding: 0 105px 0 105px;
      border: solid white 2px;
      border-radius: 6px;
    }

    p{
      color: rgb(30, 30, 30);
      font-weight: 200;
      margin: 4px auto;
    }
  }

}

.card-book-user{
  width: 400px;
}
