$cursor: pointer;

.card-index{
  background-color: #4F7D75;
}

.wh-background{
  background-color: #D6E5E3;
  height: 77px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  .description{
    height: auto;
    background-size: 100% 100%;
    background-position: top center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    position: absolute;

    p{
      color: rgb(80, 80, 80);
      text-align: center;
      font-family: "Poppins";
      font-weight: 200;
      font-size: 13px;
      margin: 0 20px;
      // position: absolute;
      // left: 7px;
    }

    .img-logo-sm{
      width: 80px;
      left: 170px;
      margin: 0 auto;
      // position: absolute;
      // left: 400px;
    }
  }
}

.card-book{
  // overflow: hidden;
  background: #ffffff;
  margin: 20px 5px 20px 5px;
  border-radius: 20px;
  padding-top: 2px;

  .cover {
    height: 400px;
    // width: 100%;
    display: flex;
    object-fit: fill;
    justify-content: center;
    margin: 20px auto 20px auto;
    // padding: 0 105px 0 105px;
    border: solid white 4px;
    border-radius: 6px;
  }
}

.card-book:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(33, 109, 43, 0.7);
}

.logo{
  width: 70px;
  justify-content: center;
}

.card-book{
  h2{
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  }
}

.card-book p{
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-book {
  .card-book-infos{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #D6E5E3;
    font-family: "Poppins";
    color: #2D3319;
    align-items: flex-end;
    position: relative;
  }
}

.card-book-infos{
  .card-book-user{
    position: absolute;
    right: 16px;
    top: 20px;
    width: 40px;
    margin-top: 14.5px;
  }
}
