.card-book{
  overflow: hidden;
  background: rgb(253, 242, 242);
  // box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin: 30px 5px 20px 5px;
  border-radius: 20px;

  .cover{
    height: 500px;
    // width: 100%;
    display: flex;
    object-fit: fill;
    justify-content: center;
    margin: 20px auto 20px auto;
    // padding: 0 105px 0 105px;
    border: solid white 2px;
    border-radius: 6px;
  }

}
.logo{
  width: 70px;
  justify-content: center;
}
.card-book{
  h2{
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  }
}
.card-book p{
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
.card-book .card-book-infos{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #497355;
  font-family: "Poppins";
  color: white;
  align-items: flex-end;
  position: relative;
}
.card-book-infos{
  .card-book-user{
    position: absolute;
    right: 16px;
    top: 20px;
    width: 40px;
  }
}
