.container {
  .title {
    text-align: center;
    font-size: x-large;
    font-family: cursive;
  }
  .h4 {
    font-family: cursive;
  }

  .button {
      color: rgb(0, 0, 0);
      padding: 8px 24px;
      border-radius: 4px;
      background: #ffffff;
      transition: background 0.3s ease;
      text-decoration: none;
  }

  .Swaps_title{
    font-family: cursive;
  }

  .Pending_title{
    font-family: cursive;
  }

}
