.review-card{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #FCF7F1;
  font-family: "Poppins";
  color: rgb(62, 62, 62);
  align-items: flex-end;
  position: relative;
}
