<h1>Reviews</h1>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= review.rating %>
      <br>
      <%= review.comment %>
    </li>
  <% end %>
  <%= link_to "Back to Books", books_path %>
</ul>
