// working page
// root and stars is needed for star ratings

.review-container {
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
  height: auto;
    position: relative;
  top: 315px;
  padding-top: 100px;
}


// :root {
//   --star-size: 60px;
//   --star-color: #fff;
//   --star-background: #fc0;
// }

// .Stars {
//   // margin
//   --percent: calc(var(--rating) / 5 * 100%);

//   // display: inline-block;
//   // font-size: var(--star-size); commented out to fit
//   font-family: Times; // make sure ★ appears correctly
//   line-height: 1;

//   &::before {
//     content: '★★★★★';
//     letter-spacing: 3px;
//     background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//   }
// }

// .reviews-container{
//   :root {
//     --star-size: 60px;
//     --star-color: #fff;
//     --star-background: #fc0;
//   }

//   .Stars {
//     --percent: calc(var(--rating) / 5 * 100%);

//     display: inline-block;
//     font-size: var(--star-size);
//     font-family: Times; // make sure ★ appears correctly
//     line-height: 1;

//     &::before {
//       content: '★★★★★';
//       letter-spacing: 3px;
//       background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//     }
//   }

//   .review-container {
//     border: 2px solid #ccc;
//     background-color: #eee;
//     border-radius: 5px;
//     padding: 16px;
//     margin: 16px 0;

//   }

//   /* Clear floats after containers */
//   .review-container::after {
//     content: "";
//     clear: both;
//     display: table;
//   }

//   /* Float images inside the review-container to the left. Add a right margin, and style the image as a circle */
//   .review-container img {
//     float: left;
//     margin-right: 20px;
//     border-radius: 50%;
//   }

//   /* Increase the font-size of a span element */
//   .review-container span {
//     font-size: 20px;
//     margin-right: 15px;
//   }

//   /* Add media queries for responsiveness. This will center both the text and the image inside the review-container */
//   @media (max-width: 500px) {
//     .review-container {
//       text-align: center;
//     }

//     .review-container img {
//       margin: auto;
//       float: none;
//       display: block;
//     }
//   }

// }

// // profile card
// .profile-container {
//   .Stars {
//     max-width: 5px;
//     // max-height: 5px;
//   }
//   padding-bottom: 30px;
//   width:100%;
//     height:300px;
//     position:absolute;

// $brown: #786450;

// .frame {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 400px;
//   height: 400px;
//   margin-top: -200px;
//   margin-left: -200px;
//   border-radius: 2px;
//   box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
//   background: #CA7C4E;
//   background: -webkit-linear-gradient(bottom left, #EEBE6C 0%, #c2ca4e 100%);
//   background: -moz-linear-gradient(bottom left, #EEBE6C 0%, #c2ca4e 100%);
//   background: -o-linear-gradient(bottom left, #EEBE6C 0%, #c2ca4e 100%);
//   background: linear-gradient(to top right, #EEBE6C 0%, #c2ca4e 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEBE6C', endColorstr='#CA7C4E',GradientType=1 );
//   color: $brown;
//   font-family: 'Open Sans', Helvetica, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// .center {
//   position: absolute;
//   top: 50px;
//   left: 40px;
//   height: 299px;
//   width: 320px;
//   background: #fff;
//   border-radius: 3px;
//   overflow: hidden;
//   box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
// }

// .profile {
//   float: left;
//   width: 200px;
//   height: 320px;
//   text-align: center;

//   .image {
//     position: relative;
//     width: 70px;
//     height: 70px;
//     margin: 38px auto 0 auto;

//     .circle-1 {
//       position: absolute;
//       box-sizing: border-box;
//       width: 76px;
//       height: 76px;
//       top: -3px;
//       left: -3px;
//       border-width: 1px;
//       border-style: solid;
//       border-color: $brown $brown $brown transparent;
//       border-radius: 50%;
//       transition: all 1.5s ease-in-out;
//     }

//     .circle-2 {
//       @extend .circle-1;
//       width: 82px;
//       height: 82px;
//       top: -6px;
//       left: -6px;
//       border-color: $brown transparent $brown $brown;
//     }

//     img {
//       display: block;
//       border-radius: 50%;
//       background: #F5E8DF;
//     }

//     &:hover {
//       cursor: pointer;

//       .circle-1 {
//         transform: rotate(360deg);
//       }

//       .circle-2 {
//         transform: rotate(-360deg);
//       }

//     }

//   }

//   .name {
//     font-size: 15px;
//     font-weight: 600;
//     margin-top: 20px;
//   }

//   .job {
//     font-size: 11px;
//     line-height: 15px;
//   }

//   .actions {
//     margin-top: 33px;

//     .btn {
//       display: block;
//       width: 120px;
//       height: 30px;
//       margin: 0 auto 10px auto;
//       background: none;
//       border: 1px solid $brown;
//       border-radius: 15px;
//       font-size: 12px;
//       font-weight: 600;
//       box-sizing: border-box;
//       transition: all .3s ease-in-out;
//       color: $brown;

//       &:hover {
//         background: $brown;
//         color: #fff;
//       }
//     }
//   }

// }

// .stats {
//   float: left;

//   .box {
//     box-sizing: border-box;
//     width: 120px;
//     height: 99px;
//     background: #F5E8DF;
//     text-align: center;
//     padding-top: 28px;
//     transition: all .4s ease-in-out;

//     &:hover {
//       background: #E1CFC2;
//       cursor: pointer;
//     }

//     &:nth-child(2) {
//       margin: 1px 0;
//     }

//   }

//   span {
//     display: block;
//   }

//   .value {
//     font-size: 18px;
//     font-weight: 600;
//   }

//   .parameter {
//     font-size: 11px;
//   }

// }
// }

//       // css for tabs
// /* Style the tab */
// .tab {
//   overflow: hidden;
//   border: 1px solid #ccc;
//   background-color: #f1f1f1;
//   position: sticky;
//   top: 0;
//   z-index: 10;
// }

// /* Style the buttons that are used to open the tab content */
// .tab button {
//   background-color: inherit;
//   float: left;
//   border: none;
//   outline: none;
//   cursor: pointer;
//   padding: 14px 16px;
//   transition: 0.3s;
// }

// /* Change background color of buttons on hover */
// .tab button:hover {
//   background-color: #ddd;
// }

// /* Create an active/current tablink class */
// .tab button.active {
//   background-color: #ccc;
// }

// /* Style the tab content */
// .tabcontent {
//   // display: none;
//   margin-top:50px;
//   padding: 6px 12px;
//   border: 1px solid #ccc;
//   border-top: none;
// }

.active {
  background-color: rgb(178, 31, 204);
}
