// working page
.book-cover-img {
  max-width: 300px;
}
.form-select {
  width: 350px;
}


.active {
  background-color: rgba(106, 181, 8, 0.956);
}
// root and stars is needed for star ratings
:root {
    --star-size: 60px;
    --star-color: #fff;
    --star-background: #fc0;
  }






.Stars {
  // margin
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  // commented out below to change size, root contains star size and colour
  // font-size: var(--star-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.review-container{
  // position: absolute;
  margin-top: 400px;
//   :root {
//     --star-size: 60px;
//     --star-color: #fff;
//     --star-background: #fc0;
//   }
    .Stars {
      // #adjust below to change the star size in the review cards
      --star-size: 15px;
      font-size: var(--star-size);
    }


  .review-card {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    height: 150px;
    width: 330px;
    content: "";
    clear: both;
    display: table;
    // padding-bottom: 30px;

  }

  /* Clear floats after containers */
  .review-card::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Float images inside the review-card to the left. Add a right margin, and style the image as a circle */
  .review-card img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    max-width: 30px;
  }

  /* Increase the font-size of a span element */
  .review-card span {
    font-size: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  // * Add media queries for responsiveness. This will center both the text and the image inside the review-card */
  @media (max-width: 100%) {
    .review-card {
      text-align: center;
    }

    .review-card img {
      margin: auto;
      float: none;
      display: block;
    }
  }
}


// profile container
.profile-container {
  $brown: #5b5078;
  position: absolute;
  left: 10%;
  .profile-card {

      .center {
        position: absolute;
        top: 50px;
        left: 0%;
        height: 299px;
        width: 320px;
        background: #fff;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
      }

      .profile {
        float: left;
        width: 200px;
        height: 320px;
        text-align: center;
        .Stars {
          max-width: 5px;
          // max-height: 5px;
            // #adjust below to change the star size
            --star-size: 30px;
            font-size: var(--star-size);
        }

        .image {
          position: relative;
          width: 70px;
          height: 70px;
          margin: 38px auto 0 auto;

          .circle-1 {
            position: absolute;
            box-sizing: border-box;
            width: 76px;
            height: 76px;
            top: -3px;
            left: -3px;
            border-width: 1px;
            border-style: solid;
            border-color: $brown $brown $brown transparent;
            border-radius: 50%;
            transition: all 1.5s ease-in-out;
          }

          .circle-2 {
            @extend .circle-1;
            width: 82px;
            height: 82px;
            top: -6px;
            left: -6px;
            border-color: $brown transparent $brown $brown;
          }

          img {
            display: block;
            border-radius: 50%;
            background: #bf601c;
          }

          &:hover {
            cursor: pointer;

            .circle-1 {
              transform: rotate(360deg);
            }

            .circle-2 {
              transform: rotate(-360deg);
            }

          }

        }

        .name {
          font-size: 15px;
          font-weight: 600;
          margin-top: 20px;
        }

        .job {
          font-size: 11px;
          line-height: 15px;
        }

        .address {
          margin-top: 33px;

          .btn {
            display: block;
            width: 120px;
            height: 30px;
            margin: 0 auto 10px auto;
            background: none;
            border: 1px solid $brown;
            border-radius: 15px;
            font-size: 12px;
            font-weight: 600;
            box-sizing: border-box;
            transition: all .3s ease-in-out;
            color: $brown;

            &:hover {
              background: $brown;
              color: #fff;
            }
          }
        }

      }

      .stats {
        float: left;

        .box {
          box-sizing: border-box;
          width: 120px;
          height: 99px;
          background: #93c375;
          text-align: center;
          padding-top: 28px;
          transition: all .4s ease-in-out;

          &:hover {
            background: #c2e1c3;
            cursor: pointer;
          }

          &:nth-child(2) {
            margin: 1px 0;
          }

        }

        span {
          display: block;
        }

        .value {
          font-size: 18px;
          font-weight: 600;
        }

        .parameter {
          font-size: 11px;
        }

      }
      }


  }







//
